<a href="https://colab.research.google.com/github/Nitroshades/UTD_Colab/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')

In [ ]:
def clean(df):
  df.drop(['Cabin','Ticket','PassengerId','Fare'],axis = 1,inplace = True)
  df['Age'].fillna(value = df['Age'].mean())
  df['Embarked'].fillna(value = df['Embarked'].mode())
  df['Sex'] = df['Sex'].map({'male':0,'female':1})
  df['Embarked'] = df['Embarked'].map({'C':'0','Q':'1','S':'2'})
  df['Title'] = df.Name.str.extract('([A-Za-z]+)\.', expand = False)
  df.drop(columns='Name',inplace = True)
  df['Title'].replace(['Dr','Rev','Mlle','Major','Col','Countess','Capt','Ms','Sir','Lady','Mme','Don','Jonkheer'],'Other',inplace = True)
  df['Title'] = df['Title'].map({'Mr':'0','Miss':'1','Mrs':'2','Master':'3','Other':'4'})
  for x in df['Age']:
    if x <= 5:
      df['Age'].replace(x,'Baby',inplace = True)
    elif x <= 14:
      df['Age'].replace(x,'Children',inplace = True)
    elif x <= 24:
      df['Age'].replace(x,'Youth',inplace = True)
    elif x <= 64:
      df['Age'].replace(x,'Adult',inplace = True)
    elif x>64:
      df['Age'].replace(x,'Seniors',inplace = True)
    else:
      pass
  df['Age'] = df['Age'].map({'Baby':'0','Children':'1','Youth':'2','Adult':'3','Seniors':'4'})
def add_missing_dummy_columns(test,train):
  missing_cols = set(train.columns) - set(test.columns)
  missing_cols2 = set(test.columns) - set(train.columns)
  for c in missing_cols:
    test[c] = 0
  for c in missing_cols2:
    train[c] = 0

In [ ]:
clean(train)
clean(test)

In [ ]:
train.head()
train.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
Title         0
dtype: int64

In [ ]:
clf = LogisticRegression(random_state=0)
train_y = train['Survived']
train.drop('Survived',axis=1,inplace=True)

In [ ]:
train.fillna(method="ffill",inplace=True)
train.fillna(method="ffill",inplace=True)

In [ ]:
test.fillna(method="ffill",inplace=True)
test.fillna(method="ffill",inplace=True)

In [ ]:
clf.fit(train,train_y)

LogisticRegression(random_state=0)

In [ ]:
y =clf.predict(test)
y

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [ ]:
flat_list = [x for x in y]

In [ ]:
prediction = pd.DataFrame({'PassengerId': range(892,1310),'Survived':flat_list})
prediction.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
pd.DataFrame(prediction).to_csv("titanic_prediction_file.csv",index = False)