<a href="https://colab.research.google.com/github/Nitroshades/UTD_Colab/blob/main/Pandas_DataFrames_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Pandas DataFrame exercises

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

### Create an empty pandas DataFrame

In [ ]:
# your code goes here
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Create a `marvel_df` pandas DataFrame with the given marvel data

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [ ]:
marvel_df = pd.DataFrame(data=marvel_data)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add column names to the `marvel_df`

In [ ]:
col_names = ['name', 'sex', 'first_appearance']
marvel_df.columns = col_names

marvel_df

          name     sex  first_appearance
0         male  1962.0              56.0
1         male  1941.0              77.0
2         male  1974.0              44.0
3         male  1963.0              55.0
4         male  1963.0              55.0
5         male  1961.0              57.0
6         male  1961.0              57.0
7         male  1962.0              56.0
8         male  1963.0              55.0
9       female  1961.0              57.0
10      female  1975.0              43.0
11        male  1939.0              79.0
12        male  1964.0              54.0
13        male  1964.0              54.0
14        male  1963.0              55.0
15        male  1962.0              56.0
16      female  1964.0              54.0
17      female  1963.0              55.0
18      female  1964.0              54.0
19        male  1968.0              50.0
Vision     NaN  1964.0              54.0

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add index names to the `marvel_df` (use the character name as index)

In [ ]:
# your code goes here
marvel_df.index = marvel_df['name']

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop the name column as it's now the index

In [ ]:
# your code goes here
marvel_df = marvel_df.drop(['name'], axis=1)
marvel_df

           sex  first_appearance  years_since
0         male            1962.0         56.0
1         male            1941.0         77.0
2         male            1974.0         44.0
3         male            1963.0         55.0
4         male            1963.0         55.0
5         male            1961.0         57.0
6         male            1961.0         57.0
7         male            1962.0         56.0
8         male            1963.0         55.0
9       female            1961.0         57.0
10      female            1975.0         43.0
11        male            1939.0         79.0
12        male            1964.0         54.0
13        male            1964.0         54.0
14        male            1963.0         55.0
15        male            1962.0         56.0
16      female            1964.0         54.0
17      female            1963.0         55.0
18      female            1964.0         54.0
19        male            1968.0         50.0
Vision     NaN            1964.0         54.0

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop 'Namor' and 'Hank Pym' rows

In [ ]:
# your code goes here
marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis=0, inplace=True)

KeyError: ignored

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

### Show the first 5 elements on `marvel_df`

In [ ]:
marvel_df

In [ ]:
# your code goes here
marvel_df.head()

              name   sex  first_appearance
0       Spider-Man  male              1962
1  Captain America  male              1941
2        Wolverine  male              1974
3         Iron Man  male              1963
4             Thor  male              1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the last 5 elements on `marvel_df`

In [ ]:
# your code goes here
marvel_df.tail()

             name     sex  first_appearance
15       Hank Pym    male              1962
16  Scarlet Witch  female              1964
17           Wasp  female              1963
18    Black Widow  female              1964
19         Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show just the sex of the first 5 elements on `marvel_df`

In [ ]:
marvel_df.iloc[:5].sex.to_frame()

    sex
0  male
1  male
2  male
3  male
4  male

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the first and last elements on `marvel_df`

In [ ]:
# your code goes here
marvel_df.iloc[ [0,-1],]

          name   sex  first_appearance
0   Spider-Man  male              1962
19      Vision  male              1968

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
# your code goes here
marvel_df.loc['Vision', 'first_appearance'] = 1964

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
# your code goes here
marvel_df['years_since'] = 2018 - marvel_df['first_appearance']

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
# your code goes here
mask = marvel_df['sex'] == 'female'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
# your code goes here
mask = marvel_df['sex'] == 'male'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
# your code goes here
mask = marvel_df['first_appearance'] > 1970

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
# your code goes here
mask = (marvel_df['sex'] == 'female') & (marvel_df['first_appearance'] > 1970)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

### Show basic statistics of `marvel_df`

In [ ]:
# your code goes here
marvel_df.describe()

               sex  first_appearance
count    21.000000         21.000000
mean   1961.952381         56.047619
std       8.206560          8.206560
min    1939.000000         43.000000
25%    1962.000000         54.000000
50%    1963.000000         55.000000
75%    1964.000000         56.000000
max    1975.000000         79.000000

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
# your code goes here
marvel_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

sex                 1961.952381
first_appearance      56.047619
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
# your code goes here
marvel_df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

sex                 1939.0
first_appearance      43.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
marvel_df.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sex                 1939.0
first_appearance      43.0
dtype: float64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)